@import general

body
    overflow-x: hidden
    font-family: 'Roboto', sans-serif

.header
    display: flex
    position: fixed
    top: 0
    right: 0
    left: 0
    height: 5rem
    background: none
    z-index: 1000
    @media screen and (max-width: 600px)
        height: 10rem
    .long
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row
        height: 100%
        @media screen and (max-width: 600px)
            flex-direction: column
        .logo
            display: flex
            align-items: center
            justify-content: center

            .logo1
                font-size: 35px
                height: 80%
                color: white
                font-family: 'Roboto'
        .buttons
            display: flex
            float: right
            justify-content: end
            align-items: center
            height: 100%

            .link
                display: flex
                align-items: center
                justify-content: space-evenly
                position: relative
                width: 100%
                left: 2rem
                @media screen and (max-width: 600px)
                    left: 0rem

                .nav-menu-a
                    display: block
                    position: relative
                    color: rgba(255, 255, 255, 0.7)
                    transition: 0.3s
                    font-size: 17px
                    font-weight: 600
                    padding: 0 3px
                    text-decoration: none
                    margin-left: .75rem
                .nav-menu-a:hover
                    // color: rgba(255, 255, 255, 1)
                    color: #FF7900
                    &::before
                        content: ''
                        position: absolute
                        height: 2px
                        bottom: -5px
                        left: 0
                        // background-color: white
                        background-color: #FF7900
                        width: 100%             
.scrolled
    background-color: rgba(108, 99, 255, 0.85)
     

