* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem;
  background: #4b0657;
  background: linear-gradient(90deg, #4b0657 9%, #240340 25%, #020024 50%, #240340 75%, #4b0657 91%);
  z-index: 1000;
}

.header__long {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.header__long_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__long_logo_logo1 {
  font-size: 35px;
  height: 80%;
  color: white;
  font-weight: bold;
}

.header__long_buttons {
  display: flex;
  float: right;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.header__long_buttons_link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  left: 2rem;
}

.header__long_buttons_link_nav-menu-a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
  font-size: 17px;
  font-weight: 600;
  padding: 0 3px;
  text-decoration: none;
  margin-left: .75rem;
}

.header__long_buttons_link_nav-menu-a:hover {
  color: white;
}

.header__long_buttons_link_nav-menu-a:hover::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  width: 100%;
}

.scrolled {
  background: #0a0a0a;
  opacity: .75;
}

.logo1 {
  opacity: 1;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: pink;
  z-index: -3;
}

.section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

.section__content_canvas {
  display: flex;
  align-items: center;
}

.sphere-animation {
  width: 200px;
  height: 200px;
  opacity: .75;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(80, 80, 80, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: .4px;
  }
}

.section1 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.section1__bodyy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.el {
  position: absolute;
  opacity: 1;
  width: 2px;
  height: 24vh;
  margin-top: -12vh;
  transform-origin: 50% 100%;
  background: white;
}

.section2 {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

.section2__contenue-grid {
  padding-top: 5rem;
}

.section2__contenue-grid_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem;
}

.section2__contenue-grid_grid_case {
  background-color: #fdfdfd;
  height: 15rem;
}

.section2__contenue-grid_grid_case_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.section2__contenue-grid_grid_case_img_logo {
  max-height: 80%;
  max-width: 80%;
}

.section2__contenue-grid_grid_case_titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.section2__contenue-grid_grid_case_titre_titrelogo {
  font-weight: 600;
  font-size: 1.5rem;
}

.case:hover {
  background-color: red;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/*# sourceMappingURL=styles.css.map */